* {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
	background: #f6f6f6;
	font-family: 'Open Sans';
	font-size: 10px;
	color: #333;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header {
	height: 55px;
	background: #3b3b3b;
}

.logo {
	float: left;
	font-size: 2em;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 55px;
	background: #262a2f;
	color: #3b9bee;
	padding: 0 50px;
}

.menu {
	float: left;
}

.menu-item {
	float: left;
	height: 55px;
}

.menu-link {
	display: block;
	color: #fff;
	font-size: 1.6em;
	font-weight: 100;
	padding: 0 30px;
	line-height: 55px;
}

.menu-link:hover {
	background: #3b9bee;
	text-decoration: none;
}

.user-ip {
	float: right;
	color: #fff;
	font-weight: 100;
	font-size: 1.6em;
	line-height: 55px;
	padding: 0 15px;
}

.main-content {
	padding: 30px 2%;
}

.main-header {
	background: #fff;
	height: 45px;
	line-height: 45px;
	color: #333;
	font-weight: 100;
	font-size: 1.8em;
	padding: 0 2%;
	text-transform: uppercase;
	border-bottom: 1px solid #f1f1f1;
}

.number-stats {
	margin-bottom: 30px;
}

.number-stats-column {
	float: left;
	width: 50%;
}

.number-stats-column:first-child {
	padding-right: 2%;
}

.number-stats-item {
	background: #fff;
	border-radius: 5px;
	float: left;
	width: 48%;
	padding: 20px;
	position: relative;
	margin-left: 2%;
}

.number-stats-item:first-child {
	margin-left: 0;
	margin-right: 2%;
}

.number-stats-item .icon {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #ccc;
	font-size: 2.5em;
	margin-right: 5px;
}

.number-stats-item .number {
	color: #6DC16F;
	display: block;
	font-size: 3em;
}

.number-stats-item .caption {
	font-size: 1.4em;
	display: block;
	color: #c4c8cd;
	margin: 5px 0 0;
	text-transform: uppercase;
}

.number-stats-item .since {
	position: absolute;
	top: 5px;
	left: 20px;
	font-size: 1em;
	display: block;
	color: #c4c8cd;
	margin: 5px 0 0;
}

.column {
	float: left;
	width: 50%;
}

.column:first-child {
	padding-right: 2%;
}

.block {
	background: #fff;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	min-height: 200px;
	margin-bottom: 30px;
}

.block-title {
	font-size: 1.6em;
	font-weight: 700;
	padding: 10px 10px 10px 20px;
	border-bottom: 2px solid #f6f6f6;
}

.block-content {
	padding: 20px;
}

.gauge-container {
	width: 300px;
	margin: 0 auto;
}

.gauge-numbers {
	margin: 5px 0 0;
	font-size: 1.6em;
}

.gauge-min {
	display: inline-block;
	width: 75px;
	text-align: center;
}

.gauge-max {
	display: inline-block;
	width: 75px;
	text-align: center;
}

.gauge-current {
	display: inline-block;
	width: 140px;
	text-align: center;
}

.gauge {
	width: 300px;
	height: 150px;
	background: #d5d5d5;
	margin: 0 auto;
	border-radius: 300px 300px 0 0;
	position: relative;
	box-shadow: inset 0 3px 12px 0 rgba(0, 0, 12, 0.1);
	overflow: hidden;
	z-index: 1;
}

.gauge-fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 150px;
	background: #61a4f6;
	margin: 0 auto;
	border-radius: 300px 300px 0 0;
	transform: rotate(-180deg);
	transform-origin: 50% 100%;
	z-index: 10;
	-webkit-transition: transform 500ms;
	transition: transform 500ms;
}

.gauge-mask {
	background: #fff;
	width: 150px;
	height: 75px;
	border-radius: 150px 150px 0 0;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -75px;
	box-shadow: 0 3px 12px 0 rgba(0, 0, 12, 0.1);
	z-index: 20;
}

.gauge-pointer {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -15px;
	background: #333;
	width: 30px;
	height: 30px;
	z-index: 30;
	border-radius: 50%;
	transform: rotate(-100deg);
	-webkit-transition: transform 500ms;
	transition: transform 500ms;
}

.gauge-pointer:before {
	content: '';
	background: #fff;
	width: 14px;
	height: 14px;
	margin: 8px auto;
	border-radius: 50%;
	display: block;
}

.gauge-pointer:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 50px;
	border-color: transparent transparent #333 transparent;
	position: absolute;
	bottom: 25px;
	left: 50%;
	margin-left: -8px;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

table th.rank {
	width: 60px;
}

table th.status {
	width: 40px;
}

table th.download {
	max-width: 20%;
	min-width: 100px;
}

table th.upload {
	max-width: 20%;
	min-width: 70px;
}

table th {
	font-weight: 700;
	font-size: 1.3em;
	text-transform: uppercase;
	border-bottom: 2px solid #f6f6f6;
	padding: 10px;
	text-align: center;
}

table td {
	text-align: center;
	padding: 10px;
	font-size: 1.2em;
	vertical-align: middle;
}

table td img {
	margin-right: 5px;
	vertical-align: middle;
}

table td.time {
	padding: 0;
	height: 2px;
}

table tr td:nth-child(3),
table tr th:nth-child(3) {
	text-align: left;
}

table tr:nth-child(4n+1) td,
table tr:nth-child(4n+2) td {
	background: #F7F9FA;
}

table tr.user td {
	background: #fcfce7;
}

.data:hover + .timer .tooltip,
.timer:hover .tooltip {
	display: block;
}

.time-wrapper {
	position: relative;
}

.tooltip {
	position: absolute;
	left: 50%;
	margin-left: -33px;
	margin-top: 5px;
	background: #000;
	color: #fff;
	display: none;
	padding: 10px;
	border-radius: 5px;
}

.tooltip:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent #000 transparent;
}

.status-icon {
	display: block;
	height: 7px;
	width: 7px;
	margin: 0 auto;
	background: #D6D9DA;
	border-radius: 50%;
}

.priority-true .status-icon {
	background: #6DC16F;
}

.priority-false .priority-time {
	display: none;
}

.priority-true .priority-time {
	background: #6DC16F;
	height: 2px;
}

.graph .btn {
	float: right;
	padding: 10px;
	font-size: 1.5em;
	margin: 0 0 20px;
}

.graph .block {
	padding: 15px 20px;
}

.modal {
	background: #fff;
	width: 70%;
	border-radius: 5px;
}

.modal-message {
	background: rgba(0,0,0,0.8);
	width: auto;
	padding: 20px;
}

.modal-message p {
	font-size: 2em;
	color: #fff;
}

.modal-container {
	display: none;
}

.modal .close-modal {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 30px;
	height: 30px;
	background: url(../../images/close.png) no-repeat center center;
	text-indent: -9999px;
	overflow: hidden;
}

.modal-header {
	padding: 10px 70px 10px 20px;
	border-bottom: 1px solid #ccc;
}

.modal-title {
	font-size: 3em;
	font-weight: 200;
	text-transform: uppercase;
}

.modal-content {
	padding: 20px;
}

.modal-confirmation {
	max-width: 500px;
	width: auto;
}

.modal-confirmation p {
	font-size: 1.4em;
	margin: 0 0 20px;
}

.modal-action .btn {
	float: left;
	margin-left: 2%;
	width: 48%;
	padding: 10px;
	text-align: center;
}

.modal-action .btn:first-child {
	margin-left: 0;
	margin-right: 2%;
}

.modal-action.no-option .btn {
	width: 100%;
	margin: 0;
}

.board {
	background: #000;
	height: 400px;
	overflow: auto;
	padding: 10px;
}

.board p {
	font-family: Consolas, Monaco, Lucida Console, Courier New;
	font-size: 1.2em;
	color: #fff;
	margin: 3px 0;
}

.actions {
	margin: 0 0 20px;
}

.actions .btn {
	float: left;
	margin-left: 2%;
	text-align: center;
}

.actions .btn:first-child {
	margin-left: 0;
	margin-right: 2%;
}

.actions .btn-panic {
	width: 38%;
}

.actions .btn-priority {
	width: 58%;
}

.btn {
	display: inline-block;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	font-size: 2em;
}

.btn:hover {
	text-decoration: none;
}

.btn .time-remaining {
	font-size: 14px;
	margin-left: 10px;
}

.btn-panic,
.btn-no {
	background: #f44336;
}

.btn-panic:hover,
.btn-no:hover {
	background: #CD362B;
}

.btn-priority,
.btn-yes {
	background: #3b9bee;
	text-transform: uppercase;
}

.btn-priority:hover,
.btn-yes:hover {
	background: #2F87D3;
}

.btn-dislike {
	background: #f44336;
}

.btn-dislike:hover {
	background: #CD362B;
	text-decoration: none;
}

.btn-disabled,
.btn-disabled:hover {
	cursor: default;
	background: #ccc;
}
