@media only screen and (min-width : 320px) and (max-width : 767px) {
	.header {
		height: auto;
	}

	.logo {
		float: none;
		padding: 0 30px;
	}

	.menu {
		float: none;
	}

	.menu-item {
		float: none;
		display: block;
	}

	.user-ip {
		float: none;
		padding: 0 30px;
	}

	.number-stats-column,
	.number-stats-column:first-child,
	.column {
		float: none;
		width: auto;
		padding: 0;
	}

	.number-stats-item:first-child,
	.number-stats-item {
		float: none;
		width: auto;
		margin: 0 0 20px;
	}

	.actions .btn {
		display: block;
		float: none;
		width: auto;
		margin: 0 0 20px;
	}

	.graph {
		display: none;
	}
}
