<div id="modal-service" class="modal-container modal-confirmation">
	<div class="modal-header">
		<h2 class="modal-title">Servidor</h2>
	</div>
	<div class="modal-content">
		<p>O servidor está desligado! Você gostaria de religar?</p>
		<div class="modal-action no-option clearfix">
			<a href="#" class="btn btn-yes">Yes</a>
		</div>
	</div>
</div>
