<div id="modal-panic" class="modal-container modal-confirmation">
	<div class="modal-header">
		<h2 class="modal-title">Panic!</h2>
	</div>
	<div class="modal-content">
		<p>Are you sure? This action will completely disable my network control functions and will affect all users in the network.</p>
		<div class="modal-action clearfix">
			<a href="#" class="btn btn-no">No</a>
			<a href="#" class="btn btn-yes">Yes</a>
		</div>
	</div>
</div>
