{{#each this}}
<tr class="data {{check_id user_id}} {{check_priority has_priority}}">
	<td>
		<span class="status-icon"></span>
	</td>
	<td>{{rank}}</td>
	<td>{{user_id}}</td>
	<td>{{instant_rate}} {{user_rate_unit}}</td>
	<td>{{instant_percentage}} %</td>
</tr>
<tr class="timer {{check_id user_id}} {{check_priority has_priority}}">
	<td colspan="5" class="time">
		<div class="time-wrapper">
			<div class="priority-time" style="width:{{priority_remaining_fraction}}%"></div>
			{{#if priority_remaining_time}}
			<div class="tooltip">{{priority_remaining_time}}</div>
			{{/if}}
		</div>
	</td>
</tr>
{{/each}}
