<div class="modal-header">
	<h2 class="modal-title">Vídeo</h2>
</div>
<div class="modal-content">
	<iframe width="100%" height="400" src="//www.youtube.com/embed/EWTJKcg7Pj8" frameborder="0" allowfullscreen></iframe>
</div>
